<a href="https://colab.research.google.com/github/VegaSera/DS-Unit-2-Linear-Models/blob/master/module2-regression-2/Wesley_Mountford_LS_DS12_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [x] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [x] Engineer at least two new features. (See below for explanation & ideas.)
- [X] Fit a linear regression model with at least two features.
- [X] Get the model's coefficients and intercept.
- [X] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [x] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [x] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [3]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [4]:
#Amenities column, this is the sum total of all amenities.
df['amenities'] = df.iloc[:,10:33].sum(axis=1)
df.head()

   bathrooms  bedrooms  ... common_outdoor_space amenities
0        1.5         3  ...                    0         0
1        1.0         2  ...                    0         5
2        1.0         1  ...                    0         3
3        1.0         1  ...                    0         2
4        1.0         4  ...                    0         1

[5 rows x 35 columns]

In [5]:
#Two new columns, ones for if cats AND dogs are allowed, one for if cats OR dogs are allowed.
df['cats_and_dogs_allowed'] = np.where((df['cats_allowed'] == 1) & (df['dogs_allowed'] == 1), 1, 0)
df['cats_or_dogs_allowed'] = np.where((df['cats_allowed'] == 1) | (df['dogs_allowed'] == 1), 1, 0)
df.head()

   bathrooms  bedrooms  ... cats_and_dogs_allowed cats_or_dogs_allowed
0        1.5         3  ...                     0                    0
1        1.0         2  ...                     1                    1
2        1.0         1  ...                     0                    0
3        1.0         1  ...                     0                    0
4        1.0         4  ...                     0                    0

[5 rows x 37 columns]

In [6]:
#Setting a feature to determine if a row has a description.
df['has_description'] = np.where(df.description.str.strip().str.len() > 0, 1, 0)
df.head()

   bathrooms  bedrooms  ... cats_or_dogs_allowed has_description
0        1.5         3  ...                    0               1
1        1.0         2  ...                    1               0
2        1.0         1  ...                    0               1
3        1.0         1  ...                    0               1
4        1.0         4  ...                    0               1

[5 rows x 38 columns]

In [0]:
df['interest_level'] = pd.Categorical(df['interest_level'])
interest_dict = {'low':0, 'medium':1, 'high':2}
df['interest_encoded'] = df['interest_level'].map(interest_dict)

In [0]:
#Created is an object type, we should turn it into a datetime
df['created'] = pd.to_datetime(df['created'], infer_datetime_format=True)

In [9]:
#Test and Train split
mask = (df['created'] < pd.to_datetime('2016-06-01', infer_datetime_format=True))
train_df = df[mask]
print(train_df.shape)
train_df['created'].describe()

(31844, 39)

count                   31844
unique                  31436
top       2016-05-14 01:11:03
freq                        3
first     2016-04-01 22:12:41
last      2016-05-31 23:10:48
Name: created, dtype: object

In [10]:
# '~' operator is a not symbol. This dataframe has everything the one above does not.
test_df = df[~mask]
test_df['created'].describe()

count                   16973
unique                  16712
top       2016-06-25 01:30:16
freq                        3
first     2016-06-01 01:10:37
last      2016-06-29 21:41:47
Name: created, dtype: object

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

model = LinearRegression()

#Original features that got removed - 
# Latitude (Was causing the error to go up slightly)
features = ['bathrooms', 'bedrooms', 'cats_and_dogs_allowed', 'cats_or_dogs_allowed', 
            'has_description', 'amenities', 'longitude', 'interest_encoded', 'elevator', 
            'pre-war', 'swimming_pool', 'high_speed_internet', 'doorman']
target = 'price'

X_train = train_df[features]
X_test = test_df[features]
y_train = train_df[target]
y_test = test_df[target]

In [79]:
model.fit(X_train, y_train)
y_pred = model.predict(X_train)
print(f'Train Mean Absolute error = ${mean_absolute_error(y_train, y_pred):.2f}')
print(f'Train Mean Squared error = ${mean_squared_error(y_train, y_pred):.2f}')
print(f'Train Root Mean Squared error = ${np.sqrt(mean_squared_error(y_train, y_pred)):.2f}')

Train Mean Absolute error = $678.76
Train Mean Squared error = $1166703.02
Train Root Mean Squared error = $1080.14

In [77]:
y_pred2 = model.predict(X_test)
print(f'Test Mean Absolute error = ${mean_absolute_error(y_test, y_pred2):.2f}')
print(f'Test Mean Squared error = ${mean_squared_error(y_test, y_pred2):.2f}')
print(f'Test Root Mean Squared error = ${np.sqrt(mean_squared_error(y_test, y_pred2)):.2f}')

Test Mean Absolute error = $678.10
Test Mean Squared error = $1121526.75
Test Root Mean Squared error = $1059.02

In [73]:
print(f'Intercept - {model.intercept_}')
for i in range(len(features)):
  print(f'Coefficient for {features[i]} - {model.coef_[i]}')

Intercept - -929462.8354538697
Coefficient for bathrooms - 1786.2272191193679
Coefficient for bedrooms - 483.1845674615257
Coefficient for cats_and_dogs_allowed - 75.76769160924823
Coefficient for cats_or_dogs_allowed - -106.70904146302813
Coefficient for has_description - -273.1216053064712
Coefficient for amenities - 39.26587578805584
Coefficient for longitude - -12575.695304502942
Coefficient for interest_encoded - -434.83059121730065
Coefficient for elevator - 63.88842560962583
Coefficient for pre-war - -89.56270967912744
Coefficient for swimming_pool - 66.19701177188078
Coefficient for high_speed_internet - -412.7980709313856
Coefficient for doorman - 373.7951032816117

Looks like the sheer number of amenities dont account for much on its own. Longitude matters greatly (A lot of the more expensive condos tend to be along a specific North/South line in Manhattan.